:root {
    --main: #fff;
    --text: #000;
    --subtext: #4c5759;
    --underline: #8e908f;
    --secondary: #1569b8;
    --whatsapp: #25D366;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-hero {
    width: 30%;
    height: 75vh;
    border-radius: 8px;
    padding: 20px 25px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-hero .title {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--secondary);
    margin-bottom: 20px;
}

.contactDots {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-size: 14px;
    color: var(--subtext);
    margin-top: 20px;
    user-select: text;
}

.contactDots svg {
    color: var(--secondary);
}

.whatsappBtn {
    margin-top: 150px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: var(--secondary);
    color: var(--main);
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
}

.whatsappBtn:hover {
    background: var(--whatsapp);
}

.whatsappBtn svg {
    width: 30px;
    height: 30px;
}

.hero-section iframe {
    width: 60%;
    height: 75vh;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
}

@media (max-width:1024px) {
    .hero-section {
        height: 50vh;
        gap: 30px;
    }

    .left-hero {
        height: 40vh;
        padding: 15px 20px;
    }

    .contactDots {
        gap: 15px;
        font-size: 12px;
    }

    .whatsappBtn {
        margin-top: 170px;
    }

    .hero-section iframe {
        height: 40vh;
    }
}

@media (max-width:768px) {
    .hero-section {
        height: 100vh;
        padding: 15px 20px;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .left-hero {
        width: 100%;
        height: 49%;
    }

    .left-hero .title {
        font-size: 25px;
    }

    .contactDots {
        font-size: 13px;
    }

    .whatsappBtn {
        margin-top: 50px;
    }

    .hero-section iframe {
        width: 100%;
        height: 49%;
    }
}