:root {
    --main: #fff;
    --text: #000;
    --subtext: #4c5759;
    --underline: #8e908f;
    --secondary: #1569b8;
    --whatsapp: #25D366;
}

.product-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.product-left {
    width: 50%;
    height: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-left .title {
    font-size: 30px;
    color: var(--secondary);
}

.copy-product {
    font-size: 16px;
    color: var(--subtext);
    text-align: justify;
}

.product-cta {
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--secondary);
    color: var(--main);
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.product-cta:hover {
    background: var(--text);
}

.product-cta:hover svg {
    background: var(--main);
    color: var(--text);
}

.product-cta svg {
    padding: 2px;
    border-radius: 50%;
    background: var(--text);
}

.list {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-right {
    width: 60%;
    height: 70%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-right li {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
}

.product-right li svg {
    color: var(--secondary);
}

@media (max-width:1024px) {
    .producto {
        height: 50vh;
        padding: 20px 30px;
    }

    .product-left {
        gap: 30px;
    }

    .product-right {
        width: 70%;
        height: 70%;
        padding: 10px 20px;
    }
}

@media (max-width:768px) {
    .producto {
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .product-left {
        width: 100%;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-left .title {
        font-size: 20px;
    }

    .copy-product {
        font-size: 14px;
    }

    .product-cta {
        gap: 10px;
        font-size: 14px;
    }

    .list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-right {
        width: 80%;
        height: 90%;
        padding: 10px 20px;
        border-radius: 8px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

}