:root {
    --main: #fff;
    --text: #000;
    --subtext: #4c5759;
    --underline: #8e908f;
    --secondary: #1569b8;
    --whatsapp: #25D366;
}

.hero-section {
    width: 100%;
    height: 75vh;
    background: var(--underline);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    margin-left: 400px;
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-content .title {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--main);
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
}

.hero-content .title u {
    font-size: 30px;
    text-decoration: none;
}

.hero-content hr {
    width: 200px;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--main);
}

.hero-content .subtitular {
    width: 70%;
    color: var(--main);
    font-size: 16px;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
}

.llamado-cta {
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--secondary);
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main);
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.8);
}

.llamado-cta:hover {
    background: var(--text);
}

.data-section {
    width: 100%;
    height: 30vh;
    background: var(--secondary);
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dato {
    width: 25%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main);
}

.dato .num {
    font-size: 45px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dato .num u {
    font-size: 30px;
    text-decoration: none;
}

.dato .descrip {
    font-size: 14px;
    font-weight: 400;
}

.origen-section {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.origen-section .title {
    width: 40%;

}

.origen-section hr {
    width: 5px;
    border: none;
    outline: none;
    background: var(--secondary);
    border-radius: 8px;
    height: 100%;
    margin: 0px 20px;
}

.origen-section .story {
    width: 60%;
    text-align: justify;
    font-size: 14px;
}

.experiencia-section {
    width: 100%;
    height: 100vh;
    background: var(--text);
    color: var(--main);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.experiencia-section .title {
    font-size: 30px;
    color: var(--secondary);
}

.experiencia-section .copy {
    font-size: 14px;
    width: 60%;
    text-align: justify;
}

.experiencia-section .copy u {
    text-decoration: none;
    font-weight: 600;
}

.sectores-content {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sector {
    margin-top: 40px;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sector-title {
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.08);
}

.sector svg {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    color: var(--secondary);
}

.sector-copy {
    margin-top: 40px;
    width: 70%;
    text-align: center;
    color: var(--subtext);
}

.separator {
    width: 3px;
    height: 90%;
    background: var(--secondary);
    border-radius: 8px;
    outline: none;
    border: none;
    justify-self: center;
}

@media (max-width:1024px) {
    .hero-section {
        height: 35vh;
    }

    .data-section {
        height: 15vh;
    }

    .origen-section {
        height: 25vh;
    }

    .experiencia-section {
        height: 50vh;
        padding: 10px 15px;
    }

    .sectores-content {
        width: 100%;
        height: 50%;
        display: flex;
        gap: 5px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sector {
        margin-top: 30px;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .sector-title {
        font-size: 25px;
    }

    .sector svg {
        margin-top: 30px;
        width: 70px;
        height: 70px;
    }

    .sector-copy {
        margin-top: 60px;
        width: 90%;
    }

    .separator {
        height: 80%;
    }
}


@media (max-width:768px) {
    .hero-section {
        width: 100%;
        height: 75vh;
        background: var(--underline);
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        margin-left: 0px;
        gap: 30px;
        width: 100%;
        height: 100%;
    }

    .hero-content .title u {
        font-size: 32px;
    }

    .hero-content .subtitular {
        width: 100%;
    }

    .llamado-cta {
        align-self: center;
    }

    .data-section {
        width: 100%;
        height: 30vh;
        background: var(--secondary);
        padding: 20px 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .dato {
        width: 50%;
        height: 50%;
        display: flex;
    }

    .origen-section {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
    }

    .origen-section .title {
        width: 100%;
        text-align: center;
    }

    .origen-section hr {
        display: none;
    }

    .origen-section .story {
        width: 80%;
    }

    .experiencia-section {
        width: 100%;
        height: 100vh;
        background: var(--text);
        color: var(--main);
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 15px;
    }

    .experiencia-section .title {
        margin-top: 50px;
        font-size: 25px;
        text-align: center;
    }

    .experiencia-section .copy {
        font-size: 14px;
        width: 100%;
        text-align: justify;
    }

    .sectores-content {
        width: 100%;
        height: 50%;
        display: flex;
        gap: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .sector {
        margin-top: 60px;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .sector-title {
        font-size: 27px;
    }

    .sector svg {
        margin-top: 30px;
        width: 70px;
        height: 70px;
    }

    .sector-copy {
        margin-top: 40px;
        width: 100%;
        font-size: 14px;
    }

    .separator {
        display: none;
    }
}